@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-family: "Bitter", serif;
}
table{
    border:solid black 0.1rem;
    border-collapse: collapse;
    width: 70rem;  
    font-family: "Bitter", serif;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    
  }
  tr:nth-child(even){
      background-color: #5c9eb4;
      border: 0.1rem solid black;
      text-align: center;
      
      height: 2rem;
  }
  tr:nth-child(odd){
      background-color: #73c1db;
      border:0.1rem solid black;
      text-align: center;
      height: 2rem;
  }
  td,th{
    border: 0.1rem solid black
    
  }